@use 'src/styles/colors';

.rk-nav-list {
    width: 100%;
    overflow: auto;
    border: 1px solid lightblue;

    .rk-nav-list-item {
        cursor: pointer;

        &.active {
            background-color: colors.$rk-highlight;
        }

        &:hover {
            background-color: colors.$rk-hover;
        }
    }
}